@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply text-sm font-medium;
}

p {
  @apply leading-6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply tracking-wider;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-fade .swiper-wrapper {
  @apply !duration-[500ms] !delay-[100ms];
}

.swiper-fade .swiper-slide {
  @apply !duration-[3000ms] !delay-[100ms];
}

.cool-link-effect::after {
  @apply block border-b-[1px]  scale-x-0 transition-transform w-full origin-left ease-out;
  content: " ";
}

.cool-link-effect:hover,
.cool-link-effect:active {
  @apply text-brand;
}

.cool-link-effect.home:hover,
.cool-link-effect.home:active {
  @apply text-white;
}

.cool-link-effect::after:hover {
  @apply scale-x-100 border-brand;
}
